name: Day 8 CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show repository files
        run: ls -la
          

     - name: Validate enviroment
       run: |
         echo " Running on: "
         uname -a

     - name: Run basic checks
       run: |
         echo "CI checks passed"
